/* index.css */

/* Define nossa paleta de cores como variáveis CSS.  */
:root {
  --primary-blue: #007bff;
  --primary-blue-darker: #0056b3;
  --background-color: #f8f9fa; /* Um branco levemente acinzentado, mais suave para os olhos */
  --text-color: #212529;
  --border-color: #ced4da;
  --white: #ffffff;
}

/* Resets básicos e fontes */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Estilo para o container principal da nossa aplicação */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}